body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    background-color: rgb(7, 146, 170);
    color:#FFF;
    padding: 5px 50px;
    margin-bottom: 30px;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#zoneFormulaire, #zonePosition, #zoneResultat {
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
}

/* label du formulaire */
form label {
    font-weight: bold;
} 

/* messages d'erreur du formulaire */
form ul {
    background-color: #ebb1b1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pricing_form_comparer {
    background-color: rgb(7, 146, 170);
    color:#FFF;
    border : none;
    padding: 5px 15px;
    border-radius: 15px;
}

#zonePosition {
    text-align: center;
}

#zonePosition div {
    font-size: 3em;
}



#zoneResultat table {
    background-color: #FFF;
    border: solid 10px #fff;
}